{{ form(form) }}

{#{{ form_start(form) }}{# <form> #}

{#{{ form_label(form.username,'Le nom dun user') }} {# <label> #}
 {#{{ form_widget(form.username)}}{# <input> #}
{#{{ form_errors(form.username) }}

{{ form_row(form.username) }}

{{ form_label(form.email,'email dun user') }} {# <label> #}
 {#{{ form_widget(form.email)}}{# <input> #}
{#{{ form_errors(form.email) }}

{{ form_end(form) }} {# </form> #}